<html>
    <body>
        <table border="1" width="500px" height="300px">
            <thead>
                <tr id="header">
                </tr>
            </thead>
            <tbody id="body">
            </tbody>
        </table>
    </body>
</html>

<script>
    var allFiles = REPLACE_ALL_FILES

    var relationships = REPLACE_RELATIONSHIPS


    var header = document.getElementById("header")

    allFiles.forEach(file => {
        var content = ""
        if (file === "") {
            content = "Modules"
        } else {
            content = allFiles.indexOf(file)
        }
        var th = document.createElement("th")
        var thText = document.createTextNode(content)
        th.appendChild(thText)
        header.appendChild(th)
    });

    var tableBody = document.getElementById("body")
    allFiles.forEach(file => {
        if (file === "") {
            return
        }

        var newRow = document.createElement("tr")

        var rowHeader = document.createElement("th")

        var leftDiv = document.createElement("div")
        leftDiv.style.cssFloat = "left"
        leftDiv.style.width = "50%"
        var leftText = document.createTextNode(file)
        leftDiv.appendChild(leftText)

        var rightDiv = document.createElement("div")
        rightDiv.style.cssFloat = "right"
        rightDiv.style.width = "50%"
        var rightText = document.createTextNode(allFiles.indexOf(file))
        rightDiv.appendChild(rightText)
        
        rowHeader.appendChild(leftDiv)
        rowHeader.appendChild(rightDiv)

        newRow.appendChild(rowHeader)

        allFiles.forEach(childFile => {
            if (childFile === "") {
                return
            }

            var child = document.createElement("td")
            

            combination = relationships.filter(f => f['from'] == childFile && f['to'] == file)

            if (combination.length > 0) {
                child.style.backgroundColor = combination[0]["color"]
            } else {
                child.style.backgroundColor = "white"
            }



            var childContent = document.createTextNode(combination[0]["content"])
            child.style.textAlign = "center";
            child.appendChild(childContent)

            newRow.appendChild(child)

        });

        tableBody.appendChild(newRow)


    });

</script>